<div *ngFor="let article of title;
             let n = index">

  <a href="#" (click)="enter(n)">{{ article }}</a>
  <p>{{ categorySection[n] }}</p>
  <div class="container" *ngIf="get === n">
    <div class="container-content">
      <div class="container-heading">
      <span class="exit"(click)="get=false">&times;</span>
      <h3>CONTENT</h3>
      
      </div>
      <img class="center"  height="200" width="200" src="{{imageurl[n]}}">
      
      <div [innerHtml]="fetchHtmlRichText(content[n])" >
            
      </div>
    </div>
  </div>
  
</div>